asgiref==3.6.0
astroid==2.11.7
colorama==0.4.5
dill==0.3.5.1
distlib==0.3.6
Django==4.1.5
filelock==3.8.0
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
platformdirs==2.5.2
pylint==2.13.9
python-vlc==3.0.16120
pyxel==1.6.9
sqlparse==0.4.3
tomli==2.0.1
tzdata==2022.7
virtualenv==20.16.5
wrapt==1.14.1
