nav {
  background-color: #333;
  color: #fff;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav li {
  position: relative;
  display: inline-block;
  background-color: #333;
}

nav a {
  display: block;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
}

nav .dropdown {
  position: relative;
}

nav .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  z-index: 1;
}

nav .dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content {
  display: none;
}

.show {
  display: block;
}
.main ul {
  list-style: none;
  padding: 0;
}

.main li {
  width: 100vw;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-around;
}

.propose-btn {
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  width: 500px;
  height: 400px;
  margin: 100px auto;
  border-radius: 5px;
}

.close-btn {
  float: right;
  font-size: 20px;
  cursor: pointer;
}
