<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="fillup" method="post">
        <h1>Create account</h1>
        {% csrf_token %}
        <label for="name">
            <input type="text" name="name" id="name" placeholder="Full Name:" required>
        </label><br>
        <label for="roll">
            <input type="text" name="roll" id="roll" placeholder="Roll Number : " required>
        </label><br>
        <label for="email">
            <input type="email" name="email" id="email" placeholder="Email " required>
        </label><br>
        <label for="year">Year : <br>
            <select name="year" id="year" required>
                <option disabled selected value><b>Select</b></option>
                <option value="First">First Year</option>
                <option value="Second">Second Year</option>
                <option value="Third">Third Year</option>
                <option value="Final">Final Year</option>
            </select>
        </label><br>
        <label for="branch">Branch : <br>
            <select name="branch" id="branch" required>
                <option disabled selected value><b>Select</b></option>
                <option value="CS">CS</option>
                <option value="IT">IT</option>
                <option value="ECE">ECE</option>
                <option value="Electrical">Electrical</option>
                <option value="Mechcanical">Mechanical</option>
                <option value="Chemical">Chemical</option>
                <option value="Civil">Civil</option>
                <option value="Production">Production</option>
                <option value="Minning">Minning</option>
                <option value="Metalurgy">Metalurgy</option>
            </select>
        </label><br>
        <p>{{msg}}</p>
        <!-- <a href="./verfication.html"> -->
        <button type="submit" onclick="">Create Account</button>
        <!-- </a> -->
    </form>
</body>
</html>