<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>Verify</title>
</head>
<body>
    <form action="verify" method="post">
        {% csrf_token %}
        <p>A verification code has been send to your Email!!!</p><br><br>
        <label for="roll">Verification code : <br>
            <input type="text" name="code" id="code">
        </label><br>
        <p>{{msg}}</p>
        <button type="submit">Verify</button>
    </form>
</body>
</html>