* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    /* vertical-align: baseline; */
  }
  
  ::-webkit-scrollbar {
    width: 0em;
    background: #f5f5f5;
  }
  ::-webkit-slider-thumb {
    background: #000000;
  }
  ::-webkit-slider-thumb:hover {
    background: #555;
  }
  
  body {
    background-image: linear-gradient(116.6deg, #ff889b 0%, #fc136b 98%);
    font-family: "Nunito";
    /* background-size: cover; */
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
    /* margin-top: -5px; */
  }
  
  ul li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  
  nav {
    position: relative;
    top: 25px;
  }
  nav > div {
    background: #f7f7f7;
    margin-inline: 60px;
    /* margin-block: 30px; */
    border-radius: 6px;
  }
  nav > div > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 54px;
    /* margin-block: 13px; */
  }
  
  nav ul {
    display: flex;
    gap: 40px;
  }
  
  nav div ul li a {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #fc136b;
  }
  
  .btn {
    display: flex;
    gap: 20px;
  }
  
  .btn a {
    font-family: inherit;
    padding: 7.02762px 33px;
    border: 2px solid #fc136b;
    border-radius: 5.27072px;
    /* font-weight: 600;
    font-size: 24px;
    line-height: 33px; */
  }
  .btn-up {
    color: #fc136b;
  }
  .btn-in {
    background: #fc136b;
    color: #f7f7f7;
  }
  nav svg {
    display: none;
  }
  
  @media (max-width: 1024px) {
    nav > div > div {
      justify-content: space-between;
    }
    .nav-links {
      flex-direction: column;
      position: absolute;
      border-radius: 6px;
      top: 30px;
      right: 10px;
      background: #f7f7f7;
      height: calc(100%-60px);
      width: 35%;
      align-items: center;
      transform: translateX((100%));
      transition: transform 0.3s ease-in-out;
    }
  }
  
  .hero {
    position: absolute;
    width: 1320px;
    height: 600px;
    left: 60px;
    top: 160px;
  
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
  }
  
  .image {
    display: flex;
    overflow: hidden;
  }
  
  .baloon {
    position: absolute;
    top: 75px;
    left: -100px;
  }
  
  .middle {
    position: absolute;
    top: 75px;
    left: 380px;
  }
  